<section class="bridal-party text-center">
  <div class="container">
    <h1 class="font-accent">Bridal Party</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h2>
    <div class="grid party-grid">
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
      <div class="party-member col-sm-1-2 col-md-1-5 col-lg-1-10">
        <div class="avatar"></div>
        <h5 class="font-accent">Party Member</h5>
      </div>
    </div>
  </div>
</section>
