<section class="bridal-party text-center">
  <div class="container">
    <h1 class="font-accent">Bridal Party</h1>
    <div class="fancy-line dark"></div>
    <div class="grid party-grid">
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/krystal.jpg">
        <h5 class="font-accent">Krystal<br>Darrow</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/jen.jpg">
        <h5 class="font-accent">Jennifer<br>Matsuda</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/lauren.jpg">
        <h5 class="font-accent">Lauren<br>Hays</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/tatyana.jpg">
        <h5 class="font-accent">Tatyana<br>Anopova</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/angelina.jpg">
        <h5 class="font-accent">Angelina<br>Larres</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/justin.jpg">
        <h5 class="font-accent">Justin<br>Holmerud</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/earache.jpg">
        <h5 class="font-accent">Eric<br>Hays</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/david.jpg">
        <h5 class="font-accent">David<br>Hays</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/danny.jpg">
        <h5 class="font-accent">Danny<br>Hays</h5>
      </div>
      <div class="party-member col-xs-1-2 col-md-1-5">
        <img class="img-responsive avatar" width="150px" height="150" src="images/party/georgio.jpg">
        <h5 class="font-accent">Georgio<br>Flevotomos</h5>
      </div>
    </div>
  </div>
</section>
