<section class="honeymoon text-center">
  <div class="container">
    <h1 class="font-accent text-light">Honeymoon</h1>
    <div class="fancy-line"></div>
    <h2 class="text-light">In lieu of a registry of gifts, we have set up an account to save up for a honeymoon. We have always dreamed of visiting the romantic cities of Paris and Rome and would be so grateful for your help getting there!</h2>
    <a class="btn btn--success btn--large btn-donate" href="http://cash.me/benandlitza" target="_blank">Honeymoon Fund</a>
  </div>
</section>
