<div class="large-image-container" style="position: relative;">
  <div class="img-cover interstitial" style="background-image: url('../images/<%= image_url %>');"></div>
  <div class="color-overlay"></div>
</div>
