<section class="nearby text-center">
  <div class="container">
    <h1 class="font-accent text-light">Hotels and Activities</h1>
    <h2 class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h2>
  </div>
</section>
