<section class="our-story text-center">
  <div class="container">
    <h1 class="font-accent text-light">Our Story</h1>
    <div class="fancy-line"></div>
    <h2 class="text-light">We got engaged at a charming little fountain hidden away in New Orleans Square at Disneyland, that has now been converted into an entrance lobby for the elite Club 33. We're lucky to have each other and even more lucky to have the love and support of our family and friends.</h2>
  </div>
</section>
