<section class="our-story text-center">
  <div class="container">
    <h1 class="font-accent text-light">Our Story</h1>
    <div class="fancy-line"></div>
    <h2 class="text-light">It all started with Ben giving horrible directions and Litza getting lost in the rain. Eventually, we found our way to each other and have stuck together ever since. The engagement took place at a charming little fountain hidden away in New Orleans Square at Disneyland, which has now been converted into an entrance lobby for the elite Club 33. All setbacks aside, we're lucky to have each other and even more lucky to have the love and support of our family and friends!</h2>
  </div>
</section>
