<section class="rsvp text-center">
  <div class="container">
    <h1 class="font-accent text-light">RSVP</h1>
    <div class="fancy-line"></div>
    <h2 class="text-light">We'd love to have you join us! If for any reason you aren't able to make it, you've made us really sad. Kidding, but we will miss you! Please let us know either way!</h2>
    <form class="rsvp-form" accept-charset="UTF-8" action="https://formkeep.com/f/c3da34a893d2" method="POST">
      <input type="hidden" name="utf8" value="✓">
      <div class="form-group">
        <label for="name">Name*</label>
        <input type="text" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email*</label>
        <input type="email" id="email" name="email">
      </div>
      <div class="grid">
        <div class="col-md-1-2">
          <div class="form-group">
            <input type="radio" id="rsvp-yes" name="rsvp" value="Yes" checked="checked">
            <label for="rsvp-yes" class="selection">
              <i class="icon-no fa fa-circle-o"></i>
              <i class="icon-yes fa fa-check-circle-o"></i>
              &nbsp;&nbsp;Yes, we'll be there!
            </label>
          </div>
        </div>
        <div class="col-md-1-2">
          <div class="form-group">
            <input type="radio" id="rsvp-no" name="rsvp" value="No">
            <label for="rsvp-no" class="selection">
              <i class="icon-no fa fa-circle-o"></i>
              <i class="icon-yes fa fa-times-circle-o"></i>
              &nbsp;&nbsp;Sorry, we can't attend.
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="message">Send us a message here:</label>
        <textarea id="message" name="message" placeholder=""></textarea>
      </div>
      <button class="btn btn--primary btn-submit" type="submit">Submit</button>
    </form>
  </div>
</section>
