<section class="slideshow">
  <div class="slides">
    <div><img src="images/slide_01.jpg"></div>
    <div><img src="images/slide_02.jpg"></div>
    <div><img src="images/slide_03.jpg"></div>
    <div><img src="images/slide_04.jpg"></div>
    <div><img src="images/slide_05.jpg"></div>
    <div><img src="images/slide_06.jpg"></div>
    <div><img src="images/slide_07.jpg"></div>
  </div>
</section>
