<section class="splash">
  <div class="img-cover img-splash"></div>
  <div class="color-overlay"></div>
  <div class="container">
    <img class="img-responsive img-names" src="images/name.png">
  </div>
</section>
