<section class="when-where text-center">
  <div class="img-cover img-map"></div>
  <div class="color-overlay"></div>
  <div class="container">
    <div class="grid">
      <div class="col-md-1-2 grid-item">
        <h1 class="font-accent">When</h1>
        <h2>4:30 in the afternoon</h2>
        <h2>Friday, March 11</h2>
        <h2>Two Thousand Sixteen</h2>
      </div>
      <div class="col-md-1-2 grid-item">
        <h1 class="font-accent">Where</h1>
        <h2>Wiens Family Cellars</h2>
        <h2>35055 Via Del Ponte</h2>
        <h2>Temecula, CA 92592</h2>
      </div>
    </div>
  </div>
</section>
