// Forms
form {
  text-align: left;
}

// Form Group
.form-group {
  margin-bottom: 40px;
}
@media (max-width: $sm-max) {
  .form-group {
    margin-bottom: 20px;
  }
}


// Labels
label {
  margin-bottom: 10px;
  font-size: 3.0rem;
  position: relative;
  display: block;
  color: $text-light;
}
@media (max-width: $sm-max) {
  label {
    font-size: 2.0rem;
  }
}

@mixin input-styles {
  width: 100%;
  background-color: rgba(255,255,255,0.025);
  border: none;
  padding: 0 30px;
  border-radius: 0;
  font-family: $font-accent;
  font-weight: 700;
  font-size: 3.6rem;
  color: $text-light;
}

// Text Area
textarea {
  @include input-styles;
  height: 410px;
  resize: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
textarea:focus {
  outline: 4px solid $text-light;
}
@media (max-width: $sm-max) {
  textarea {
    height: 200px;
    font-size: 1.8rem;
    padding: 15px;
  }
}

// Inputs
input[type="text"],
input[type="email"] {
  @include input-styles;
  height: 100px;
}
input:focus {
  outline: 4px solid $text-light;
}
@media (max-width: $sm-max) {
  input[type="text"],
  input[type="email"] {
    height: 50px;
    font-size: 1.8rem;
    padding: 0 15px;
  }
}

// Radio
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  border: 4px solid transparent;
  padding: 20px;
  .icon-yes {
    display: none;
    color: $color-success;
  }
  .icon-no {
    display: inline;
    opacity: 0.25;
  }
}
input[type="radio"]:checked + label {
  border: 4px solid $color-success;
  .icon-no { display: none; }
  .icon-yes { display: inline; }
}
input[type="radio"]#rsvp-no:checked + label {
  border: 4px solid $color-danger;
  .icon-yes { color: $color-danger; }
}
@media (max-width: $sm-max) {
  input[type="radio"] {
    height: 50px;
    font-size: 1.8rem;
    padding: 0 15px;
  }
  input[type="radio"] + label {
    padding: 10px;
  }
}
