.media {
  display: table;
  word-break: break-word;
  > .media-left,
  > .media-body,
  > .media-right {
    display: table-cell;
    vertical-align: top;
    :last-child { margin-bottom: 0; }
    &.media-middle { vertical-align: middle; }
    &.media-bottom { vertical-align: bottom; }
  }
  > .media-left {
    padding-right: $media-gutter;
  }
  > .media-body {
    width: 10000px;
  }
  > .media-right {
    padding-left: $media-gutter;
  }
  .media {
    margin-top: $media-nested-margin-top;
  }
}
