html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: $default-font-weight;
  font-family: $font-default;
  color: $text-default;
  letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6,
p, a, li {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-default;
  font-weight: $heading-font-weight;
  letter-spacing: 0.2rem;
  line-height: 2;
}

h1 { font-size: 3.6rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.4rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.4rem; }
h6 { font-size: 1.2rem; }

@media (max-width: $sm-max) {
  h1 { font-size: 2.4rem; }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 1.8rem; }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
  }
}

.font-accent {
  font-family: $font-accent;
  font-weight: $accent-font-weight;
  text-transform: uppercase;
}

.display-1,
.display-2,
.display-3 {
  font-weight: $display-font-weight;
}

.lead {
  font-weight: $lead-font-weight;
  font-size: 2.0rem;
  margin-bottom: 2.0rem;
  color: $text-light;
}

.display-1 { font-size: 6.4rem; }
.display-2 { font-size: 5.6rem; }
.display-3 { font-size: 4.8rem; }

pre {
  padding: 2rem;
  background-color: $color-light;
}
code {
  font-size: 1.6rem;
}

a:hover,
a:focus {
  outline: none;
}

.text-light   { color: $text-light !important; }
.text-default { color: $text-default !important; }
.text-dark    { color: $text-dark !important; }
.text-primary { color: $color-primary !important; }
