<%= partial "partials/splash" %>
<section class="thank-you text-center">
  <div class="container">
    <h1 class="font-accent">Thank You</h1>
    <div class="fancy-line dark"></div>
    <h2>Awesome! We have your information. Thanks for letting us know.</h2>
    <a class="btn btn--large btn--primary btn-home" href="/">Go Back Home</a>
  </div>
</section>
<%= partial "partials/footer" %>
