$avatar-size: 100px;
.bridal-party {
  background-color: $color-light;
  .party-grid {
    margin-top: 60px;
  }
  .party-member {
    margin-bottom: 40px;
  }
  .avatar {
    width: 150px;
    background-color: #CCC;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 30px;
  }
}
