$avatar-size: 80px;
.bridal-party {
  background-color: $color-light;
  .party-grid {
    margin-top: 40px;
  }
  .party-member {
    margin-bottom: 20px;
  }
  .avatar {
    width: $avatar-size;
    height: $avatar-size;
    background-color: #CCC;
    margin: 0 auto 20px;
    border-radius: 50%;
    position: relative;
  }
}
